---
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import { Schema } from "astro-seo-schema";
import { Seo } from 'astro-seo-meta';
import CursorGlow from '../components/CursorGlow.astro';


const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" /> 
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/favicon-512x512.png" sizes="512x512" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>

    <Seo
      keywords={['Full-Stack', 'Front-end', 'Back-end', 'WordPress', 'WooCommerce', 'Front-end', 'Astro', 'React', 'Node.js', 'Roots.io', 'Performance Optimization', 'Web Security']}
      themeColor="#000000"
      facebook={{
        image: '/og.webp',
        url: 'https://www.facebook.com/dsemblano',
        type: 'website'
      }}
      twitter={{
        image: '/og.webp',
        site: '@dsemblano',
        card: 'summary'
      }}
    />

    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Daniel Semblano",
        jobTitle: "Full-Stack Developer",
        url: "https://danielsemblano.dev",
        sameAs: [
          "https://github.com/dsemblano",
          "https://linkedin.com/in/danielsemblano",
        ],
        alternateName: "Daniel Lourenço Semblano Oliveira",
        knowsAbout: [
          "Full-Stack",
          "SEO",
          "Front-end",
          "Back-end",
          "Programming",
          "Computer Science",
          "WordPress",
          "WooCommerce",
          "Astro",
          "React",
          "Node.js",
          "Roots.io",
          "Performance Optimization",
          "Web Security"
        ],
      }}
    />

     <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Daniel Semblano — Full-Stack Developer",
        url: "https://danielsemblano.dev",
       }}
    />  
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
    </script>

    <!-- Google Tag Manager -->
    <script type="text/partytown" is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NLGL4JQV");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-black font-sans">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NLGL4JQV"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <Header siteLogo={siteLogo} navLinks={navLinks} />
     
    
    <main class="mx-auto max-w-3xl px-5">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
